<h1>Welcome to Sport$ Salaries</h1>
<p> Thanks for dropping by.  Sport$ Salaries was created to easily evaluate and compare the highest paid athletes for the current season in the major sports leagues. </p>
